<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>imageName</key>
        <string>gold_tree_bg.png</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>candy_bg.png</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>tree_bg.png</string>
    </dict>
	<dict>
		<key>imageName</key>
		<string>mexture-001.png</string>
	</dict>
    <dict>
        <key>imageName</key>
        <string>mexture-002.png</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>mexture-003.png</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>mexture-004.png</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>mexture-005.png</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>mexture-006.png</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>mexture-007.png</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>mexture-008.png</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>mexture-009.png</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>mexture-010.png</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>mexture-011.png</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>mexture-012.png</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>mexture-013.png</string>
    </dict>
</array>
</plist>
