<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>gold_tree_bg</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>candy_bg</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tree_bg</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>mexture-001</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>mexture-002</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>mexture-003</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>mexture-004</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>mexture-005</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>mexture-006</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>mexture-007</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>mexture-008</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>mexture-009</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>mexture-010</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>mexture-011</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>mexture-012</string>
	</dict>
</array>
</plist>
