<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shapeName</key>
		<string>Anchor</string>
		<key>overlayImage</key>
		<string>anchor_black</string>
		<key>previewImage</key>
		<string>anchor</string>
	</dict>
    <dict>
        <key>shapeName</key>
        <string>Circle</string>
        <key>overlayImage</key>
        <string>circle_black</string>
        <key>previewImage</key>
        <string>circle</string>
    </dict>
    <dict>
        <key>shapeName</key>
        <string>Hexagon</string>
        <key>overlayImage</key>
        <string>hexagon_black</string>
        <key>previewImage</key>
        <string>hexagon</string>
    </dict>
    <dict>
        <key>shapeName</key>
        <string>Ornament</string>
        <key>overlayImage</key>
        <string>ornament_black</string>
        <key>previewImage</key>
        <string>ornament</string>
    </dict>
    <dict>
        <key>shapeName</key>
        <string>Oval</string>
        <key>overlayImage</key>
        <string>oval_black</string>
        <key>previewImage</key>
        <string>oval</string>
    </dict>
    <dict>
        <key>shapeName</key>
        <string>Rectangle</string>
        <key>overlayImage</key>
        <string>rectangle_black</string>
        <key>previewImage</key>
        <string>rectangle</string>
    </dict>
    <dict>
        <key>shapeName</key>
        <string>Square</string>
        <key>overlayImage</key>
        <string>square_black</string>
        <key>previewImage</key>
        <string>square</string>
    </dict>
    <dict>
        <key>shapeName</key>
        <string>Star</string>
        <key>overlayImage</key>
        <string>star_black</string>
        <key>previewImage</key>
        <string>star</string>
    </dict>
    <dict>
        <key>shapeName</key>
        <string>Triangle</string>
        <key>overlayImage</key>
        <string>triangle_black</string>
        <key>previewImage</key>
        <string>triangle</string>
    </dict>
    <dict>
        <key>shapeName</key>
        <string>Xmas Tree</string>
        <key>overlayImage</key>
        <string>xmas_tree_black</string>
        <key>previewImage</key>
        <string>xmas_tree</string>
    </dict>
    <dict>
        <key>shapeName</key>
        <string>Anchor</string>
        <key>overlayImage</key>
        <string>anchor_black</string>
        <key>previewImage</key>
        <string>anchor</string>
    </dict>
    <dict>
        <key>shapeName</key>
        <string>Circle</string>
        <key>overlayImage</key>
        <string>circle_black</string>
        <key>previewImage</key>
        <string>circle</string>
    </dict>
    <dict>
        <key>shapeName</key>
        <string>Hexagon</string>
        <key>overlayImage</key>
        <string>hexagon_black</string>
        <key>previewImage</key>
        <string>hexagon</string>
    </dict>
    <dict>
        <key>shapeName</key>
        <string>Ornament</string>
        <key>overlayImage</key>
        <string>ornament_black</string>
        <key>previewImage</key>
        <string>ornament</string>
    </dict>
    <dict>
        <key>shapeName</key>
        <string>Oval</string>
        <key>overlayImage</key>
        <string>oval_black</string>
        <key>previewImage</key>
        <string>oval</string>
    </dict>
    <dict>
        <key>shapeName</key>
        <string>Rectangle</string>
        <key>overlayImage</key>
        <string>rectangle_black</string>
        <key>previewImage</key>
        <string>rectangle</string>
    </dict>
    <dict>
        <key>shapeName</key>
        <string>Square</string>
        <key>overlayImage</key>
        <string>square_black</string>
        <key>previewImage</key>
        <string>square</string>
    </dict>
    <dict>
        <key>shapeName</key>
        <string>Star</string>
        <key>overlayImage</key>
        <string>star_black</string>
        <key>previewImage</key>
        <string>star</string>
    </dict>
    <dict>
        <key>shapeName</key>
        <string>Triangle</string>
        <key>overlayImage</key>
        <string>triangle_black</string>
        <key>previewImage</key>
        <string>triangle</string>
    </dict>
    <dict>
        <key>shapeName</key>
        <string>Xmas Tree</string>
        <key>overlayImage</key>
        <string>xmas_tree_black</string>
        <key>previewImage</key>
        <string>xmas_tree</string>
    </dict>
    <dict>
        <key>shapeName</key>
        <string>Anchor</string>
        <key>overlayImage</key>
        <string>anchor_black</string>
        <key>previewImage</key>
        <string>anchor</string>
    </dict>
    <dict>
        <key>shapeName</key>
        <string>Circle</string>
        <key>overlayImage</key>
        <string>circle_black</string>
        <key>previewImage</key>
        <string>circle</string>
    </dict>
    <dict>
        <key>shapeName</key>
        <string>Hexagon</string>
        <key>overlayImage</key>
        <string>hexagon_black</string>
        <key>previewImage</key>
        <string>hexagon</string>
    </dict>
    <dict>
        <key>shapeName</key>
        <string>Ornament</string>
        <key>overlayImage</key>
        <string>ornament_black</string>
        <key>previewImage</key>
        <string>ornament</string>
    </dict>
    <dict>
        <key>shapeName</key>
        <string>Oval</string>
        <key>overlayImage</key>
        <string>oval_black</string>
        <key>previewImage</key>
        <string>oval</string>
    </dict>
    <dict>
        <key>shapeName</key>
        <string>Rectangle</string>
        <key>overlayImage</key>
        <string>rectangle_black</string>
        <key>previewImage</key>
        <string>rectangle</string>
    </dict>
    <dict>
        <key>shapeName</key>
        <string>Square</string>
        <key>overlayImage</key>
        <string>square_black</string>
        <key>previewImage</key>
        <string>square</string>
    </dict>
    <dict>
        <key>shapeName</key>
        <string>Star</string>
        <key>overlayImage</key>
        <string>star_black</string>
        <key>previewImage</key>
        <string>star</string>
    </dict>
    <dict>
        <key>shapeName</key>
        <string>Triangle</string>
        <key>overlayImage</key>
        <string>triangle_black</string>
        <key>previewImage</key>
        <string>triangle</string>
    </dict>
    <dict>
        <key>shapeName</key>
        <string>Xmas Tree</string>
        <key>overlayImage</key>
        <string>xmas_tree_black</string>
        <key>previewImage</key>
        <string>xmas_tree</string>
    </dict>
</array>
</plist>
